body{
    color: #666666;
    font-family: "Hiragino Kaku Gothic ProN" , "游ゴシック" , "Yu Gothic" , "メイリオ", Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    background-repeat: repeat-y;
    background-size:375px 667px;
    -webkit-background-size:375px 667px;
    -moz-background-size:375px 667px;

}

img{
    width: 100%;
    line-height: 0;
}

#wrapper {
    width: 100%;
}

header{
    width: 100%;
    border-bottom: 1px #cccccc solid;
    height: 45px;
}

header img{
    margin: auto;
}

#main{
    width: 95%;
    background-color: #ffffff;
    margin: 0 auto auto;

}


.contentTitle{
    width: 95%;
    font-weight: bold;
    font-size: 15px;
    color: #292929;
    text-align: center;
    margin: 10px auto;
}


.contentDescription{
    width: 95%;
    font-size: 12px;
    color: #292929;
    line-height: 1.5;
    margin: 5px auto 0;
}

.contact{
    margin: 10px auto 0;
}

.tell{
    width: 75.5px;
    height: 30.5px;
}

.map{
    width: 192.5px;
    height: 30.5px;
}

.send{
    width: 75.5px;
    height: 30.5px;
}

.border1{
    border-bottom: 1px #999999 solid;
    margin: 12px auto 0;
}

#valueFilter{
    width: 95%;
    background-color: #ffffff;
    margin: 0 auto auto;
    font-size: 10px;
    margin: 20px auto 0;
    overflow: hidden;
}

.doneIcon{
    width: 10px;
    height: 8px;
    float: left;
    margin-right: 5px;
}

.done{
    font-weight: bold;
    float: left;

}
.done2{
    float: right;
}

.excellentUsagi{
    width: 116px;
    height: 50px;
    float: left;
    margin: 10px auto 0;

}

.goodUsagi{
    width: 116px;
    height: 50px;
    float:left;
    margin: 10px 4px 0;

}

.badUsagi{
    width: 116px;
    height: 50px;
    float: left;
    margin: 10px auto 0;
}

#contents1 h2{
    font-size: 15px;
    font-weight: bold;
    color: 292929;
    margin-top: 38px;
}
.border2{
    border-bottom: 1px #999999 solid;
    margin: 10px auto 0;
}

#contents1{
    width: 95%;
    background-color: #ffffff;
    margin: 0 auto 0;
    overflow: hidden;
}

#recommended1{
    width: 45%;
    margin: 0 auto 0;
    float: left;
}

#recommended2{
    width: 45%;
    margin: 0 auto 0;
    float: right;
}

.frenchPh{
width: 172.5px;
height: 135px;
margin-top: 12px;
}

.french{
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 auto 5px;
}

.frenchText{
    font-size: 12px;
    color: #999999;
    line-height: 1.5;
    margin-bottom: 24px;

}

.pokePh{
width: 172.5px;
height: 135px;
margin-top: 12px;
}

.poke{
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 auto 5px;

}

.pokeText{
    font-size: 12px;
    color: #999999;
    line-height: 1.5;
    margin-bottom: 24px;
}

#menueMore{
    width: 95%;
    background-color: #ffffff;
    margin: 0 auto 0;
    clear: both;
}


.borderMore{
    color: 999999;
    border-bottom: 1px #cccccc solid;
    margin: 0 auto 0;
}

.more{
    font-size: 12px;
    color: #999999;
    text-align: center;
    margin: 15px auto;
}

#contents2{
    width: 95%;
    background-color: #ffffff;
    margin: 32px auto 0;
    clear: both;
    overflow: hidden;
}

#contents2 h2{
    font-size: 15px;
    font-weight: bold;
    color: 292929;
}

.mePh{
    width: 44.5px;
    height: 42.5px;
    margin: 6px auto 10px;
    float: left;
}

#contents2 h3{
    font-size: 12px;
    font-weight: bold;
    margin: 22.5px auto 0;
    float: left;
}

#contents2 p{
    font-size: 12px;
    color: #999999;
    line-height: 1.5;
    clear: both;
}

.moreP{
    font-size: 12px;
    color: #cccccc;
    line-height: 1.5;
}

.wafflePh{
    width: 172.5px;
    height: 135px;
    float: left;
    margin-top: 20px;

}

.appearancePh{
    width: 172.5px;
    height: 135px;
    float: right;
    margin-top: 20px;
}

.love{
    width: 13px;
    height: 12px;
    margin: 10px auto 15px;
}

#contents3{
    width: 95%;
    background-color: #ffffff;
    margin: 33px auto 0;
}

#contents3 h2{
    font-size: 15px;
    font-weight: bold;
    color: 292929;
}
