body{
    color: #666666;
    font-family: "Hiragino Kaku Gothic ProN" , "游ゴシック" , "Yu Gothic" , "メイリオ", Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    background-repeat: repeat-y;
    background-size:375px 667px;
    -webkit-background-size:375px 667px;
    -moz-background-size:375px 667px;

}

img{
    width: 100%;
    line-height: 0;
}

#wrapper {
    width: 100%;
}

header{
    width: 100%;
    border-bottom: 1px #cccccc solid;
    height: 45px;
}

header img{
    margin: auto;
}

#main{
    width: 95%;
    background-color: #ffffff;
    margin: 0 auto auto;

}


.contentTitle{
    width: 95%;
    font-weight: bold;
    font-size: 15px;
    color: #292929;
    text-align: center;
    margin: 10px auto;
}


.contentDescription{
    width: 95%;
    font-size: 12px;
    color: #292929;
    line-height: 1.5;
    margin: 5px auto 0;
}

.contact{
    margin: 10px auto 0;
}

.tell{
    width: 75.5px;
    height: 30.5px;
}

.map{
    width: 192.5px;
    height: 30.5px;
}

.send{
    width: 75.5px;
    height: 30.5px;
}

.border1{
    border-bottom: 1px #999999 solid;
    margin: 12px auto 0;
}

#valueFilter{
    width: 95%;
    background-color: #ffffff;
    margin: 0 auto auto;
    font-size: 10px;
    margin: 20px auto 0;
    overflow: hidden;
}

.doneIcon{
    width: 10px;
    height: 8px;
    float: left;
    margin-right: 5px;
}

.done{
    font-weight: bold;
    float: left;

}
.done2{
    float: right;
}

.excellentUsagi{
    width: 116px;
    height: 50px;
    float: left;
    margin: 10px auto 0;
}

.goodUsagi{
    width: 116px;
    height: 50px;
    float:left;
    margin: 10px 4px 0;

}

.badUsagi{
    width: 116px;
    height: 50px;
    float: left;
    margin: 10px auto 0;
}

.border2{
    border-bottom: 1px #999999 solid;
    margin: 100px auto 0;
}
